html, body {
  margin: 20 pt;
  color: white;
  text-align: center;
  background-color: black;
  font-family: sans-serif;
}

canvas {
  margin: auto;
  display: block;
}

h1{
  text-align: center;
}

a{
  color:rgb(200, 200, 200);
}
